.experience-timelinedot {
  background-color: $secondary-color;
  border-color: $secondary-color;
}

.timeline-opposite-content {
  min-width: 80px;
}

.experience-student-title {
  font-size: x-large;
  font-weight: 400;
  color: $third-color-3;
}

.timeline-experience {
  margin-bottom: 3rem;
}

.experience-student-accordion {
  margin: 3rem 16px 3rem 16px;
}

.experience-separator {
  margin-left: 16px;
  margin-right: 16px;
}

@media screen and (max-width: 600px) {
  .experience-separator {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media screen and (max-width: 550px) {
  .timeline-opposite-content {
    min-width: 40px;
  }

  .experience-separator {
    margin-left: 8px;
    margin-right: 8px;
  }
}

@media screen and (max-width: 400px) {
  .experience-separator {
    margin-left: 4px;
    margin-right: 4px;
  }
}

@media screen and (min-width: 1100px) {
  .timeline-experience,
  .experience-student-accordion {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
