.experience-student-title {
  font-size: x-large;
  font-weight: 400;
  color: $third-color-3;
}

.timeline-experience {
  margin-bottom: 3rem;
}

.experience-student-accordion {
  margin: 3rem 16px 3rem 16px;
}

@media screen and (min-width: 1100px) {
  .timeline-experience,
  .experience-student-accordion {
    margin-left: 15vw;
    margin-right: 15vw;
  }
}
