.grid-container-custom {
  flex: 1;
  margin-left: 7vw;
  margin-right: 7vw;
}

.grid-item-custom {
  margin: 32px;
  padding: 0;

  h1 {
    color: $lighter-black;
    font-size: xx-large;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 500px) {
  .grid-item-custom {
    margin: 16px;

    h1 {
      text-align: center;
    }
  }
}