.langSelection {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 40px 0 0 0;

  select {
    font-weight: 500;
  }

  .translate-icon {
    color: $secondary-color;
    font-size: large;
  }
}
