.infos-quick-intro {
  color: $third-color;
  font-style: italic;
  padding-top: 0;
  padding-bottom: 35px;
  font-size: large;
}

.infos-text {
  text-align: justify;
  padding-bottom: 30px;
}

.infos-field {
  margin-top: 10px;
  display: inline-block;
  width: 175px;
  font-weight: 600;
}

.infos-points-separator {
  margin-right: 20px;
}

.infos-value {
  color: $third-color;
}

.infos-field,
.infos-points-separator,
.infos-value {
  font-size: large;
}

@media screen and (max-width: 530px) {
  .infos-field,
  .infos-points-separator,
  .infos-value {
    font-size: medium;
  }

  .infos-field {
    width: 130px;
  }

  .infos-points-separator {
    margin-right: 5px;
  }
}

@media screen and (max-width: 400px) {
  .infos-field {
    width: auto;
  }
}