.timeline-opposite-content-education {
  padding: 0;
  min-width: 40px;
}

.timeline-content-education {
  padding-right: 0;
}

.timeline-content-education--paper {
  padding: 12px;
}

.timeline-content-education--paper-location {
  display: inline-block;
}