.App {
  display: flex;
  flex-direction: column;
  font-size: medium;
}

$link: $secondary-color;
$link-visited: $link;
$link-active: $secondary-color-light;
$link-hover: $link-active;

a, a:visited, a:active, a:hover {
  text-decoration: none;
  font-weight: 600;
}