$pre-background: $primary-color-darker-3;
$box-background-color: $primary-color-darker-3;

.code-block {
  border: 1px solid $primary-color;
  color: $primary-color;

  legend {
    font-weight: bold;
  }

  pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */

    font-family: "Courier New", serif;
    font-size: $font-size-0;
  }
}
