$primary-color: white;
$primary-color-2: darken($primary-color, 5%);
$primary-color-3: darken($primary-color-2, 5%);

$secondary-color: #2196d3;
$secondary-color-light: lighten($secondary-color, 10%);

$third-color: #a6a6a6;
$third-color-2: darken($third-color, 5%);
$third-color-3: darken($third-color-2, 5%);
$lighter-black: #4a4a4a;

$fourth-color: #cdfcac;

$header-secondary-background-color: #0e5d6c;

$xxx-large-2: 3.5rem;
$xxxx-large: 4rem;
