$primary-color: white;
$primary-color-2: darken($primary-color, 5%);
$primary-color-3: darken($primary-color-2, 5%);

$secondary-color: #00882D;
$secondary-color-light: lighten($secondary-color, 10%);
$secondary-color-pale: #f7fff9;

$third-color: #A6A6A6;
$third-color-2: darken($third-color, 5%);
$third-color-3: darken($third-color-2, 5%);
$third-dark: #343434;

$xxxx-large: 4rem;
