.header-container {
  background: linear-gradient(
    to right bottom,
    $secondary-color-pale 35%,
    $primary-color-3 60%,
    $third-color-3
  );

  height: 100vh;
  min-height: 175px;

  h2 {
    color: $third-color-3;
    font-weight: 500;
    font-size: xxx-large;
    margin-top: 35vh;
  }

  h1 {
    color: $secondary-color;
    font-weight: 600;
    font-size: $xxxx-large;
  }

  h3 {
    color: black;
    font-weight: 400;
    font-size: xxx-large;
    margin-bottom: 2rem;
  }

  .header-icons {
    color: $third-color-3;
    font-size: xxx-large;
    margin-right: 10px;
  }
}

@media screen and (max-width: 600px) {
  .header-container {
    h2 {
      font-size: xx-large;
    }

    h1 {
      font-size: xxx-large;
    }

    h3 {
      font-size: xx-large;
    }

    .header-icons {
      font-size: xx-large;
    }
  }
}
