
header {
  background: linear-gradient(
                  to right bottom,
                  $secondary-color-darker,
                  $secondary-color-lighten
  );
  height: 25vh;
  min-height: 175px;

  h1 {
    text-align: center;
    font-size: $font-size-2;
  }
}