$title-color: $primary-text-color;

header {
  background: linear-gradient(
    to right bottom,
    $secondary-color-darker,
    $secondary-color-lighten
  );

  height: 30vh;
  min-height: 175px;

  h1 {
    font-weight: 600;
    font-size: $font-size-2;
    text-align: center;
    margin-top: 1%;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 25vh;
    min-height: 150px;

    h1 {
      font-size: min(30px);
    }
  }
}

@media screen and (max-width: 400px) {
  header {
    height: 25vh;
    min-height: 150px;

    h1 {
      font-size: min(25px);
    }
  }
}
