.container-custom {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-dark {
  background-color: $primary-color-2;
}

.container-light {
  background-color: $primary-color;
}

.container-title {
  text-align: center;
  font-size: xxx-large;
  text-transform: uppercase;
  font-weight: 700;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 3rem;
}

.container-title-left {
  text-align: left;
  margin-bottom: 2rem;
}

@media screen and (max-width: 400px) {
  .container-title {
    font-size: xx-large;
  }
}