.container-custom {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.container-darken {
  background-color: $primary-color-2;
}

.container-title {
  text-align: center;
  font-size: xxx-large;
  font-weight: 600;
  padding-left: 10vw;
  padding-right: 10vw;
  margin-bottom: 3rem;
}
