.footer-container {
  font-size: large;
  color: $primary-color;
  text-align: center;

  padding-top: 5rem;
  padding-bottom: 5rem;

  background-color: $lighter-black;

  strong {
    color: $secondary-color;
  }

  .footer-app-version {
    display: inline-block;
  }
}

@media screen and (max-width: 600px) {
  .footer-container {
    padding-bottom: 9rem;
  }
}
