.footer-container {
  font-size: large;
  color: $primary-color;
  text-align: center;
  padding-bottom: 5rem;
  padding-top: 5rem;

  background-color: $lighter-black;

  strong {
    color: $secondary-color;
  }
}
