html {
    background-color: #282c34;
}

.App {

}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

pre {
    white-space: pre-wrap; /* css-3 */
    white-space: -moz-pre-wrap; /* Mozilla */
    white-space: -o-pre-wrap; /* Opera 7 */
    word-wrap: break-word; /* Internet Explorer 5.5+ */
    background-color: #373c47;
    width: 95vw;
    padding: 10px;
}

.App-header {
    display: flex;
    flex-direction: column;
    font-size: calc(5px + 2vmin);
    color: white;
    width: 95vw;
    padding: 10px;
}

h2 {
    background-color: #464c59;
    padding: 10px;
    text-align: center;
    width: 95vw;
}

.App-link {
    color: #61dafb;
}

nav {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

nav > div, select, img {
    margin-top: 5px;
    margin-right: 10px;
}